@import "variables";
@import "mixins";

*{
    @include overall;
}

body {
    background-color: $bg-color;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 3rem;
    background-color: $primary-color;

    h1{
        @include textStyle(1.2rem , bold , $secondary-color);
        
        &:hover {
            @include textStyle(1.2rem , bold , $the-color);
            text-shadow: 0px 0px 40px  #fff;
        }
    }
}

nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    .logo{
        display: flex;
        align-items: center;
        background-color: orange;
        border-radius: 50%;
        overflow: hidden;
        width: 3rem;
    }
}
.menu{
    display: none;
    justify-content: center;
    align-items: center;

    i{
        color: #fff;
        font-size: 3rem;
        margin-left: 20px;
        cursor: pointer;
    }
}
.navbar{
    list-style-type: none;
    display: flex;
    align-items: center;
    
        *{
            margin-right: 1rem;
            margin-left: 1rem;
        }
        li{
            display: block;
            height: 100%;
        }
        a{
            height: inherit;
            display: flex;
            align-items: center;
            text-decoration: none;
            @include textStyle(10px,bold,white);

            &:hover {
                border-bottom: 2px solid $secondary-color;
            }
        }
}


@include media(M){
    .menu{
        display: flex;
    }
    nav {
        display: none;
    }
}